/* Couleur */
html {
  margin-left: 5%;
  margin-right: 5%;
  --line-h: 14px;
  --nth-lines-trunc: 6;
}

header {
  display: flex;
  height: 180px;
  justify-content: center;
}

.logo {
  margin-top: 40px;
}
.logo img {
  height: 125px;
  width: auto;
}

.recherche {
  display: flex;
  position: relative;
  align-items: center;
}
.recherche .fa-search {
  position: absolute;
  right: 20px;
  font-size: 32px;
}
.recherche .search {
  width: 100%;
  height: 69px;
  padding-left: 20px;
  font-size: 18px;
  background-color: #E7E7E7;
  border-radius: 5px;
  outline: none;
  border: none;
}
.recherche .search::placeholder {
  color: grey;
}

.tags {
  display: flex;
}
.tags button {
  position: relative;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  width: auto;
}
.tags button p {
  margin-right: 40px;
}
.tags button em {
  position: absolute;
  right: 20px;
  top: 25px;
}
.tags button p {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}
.tags button em {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tri {
  display: flex;
}
.tri button {
  position: relative;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.tri button p {
  margin-right: 40px;
}
.tri button em {
  position: absolute;
  right: 20px;
  top: 25px;
}
.tri .ingredients {
  background-color: #3282F7;
}
.tri .ingredients .search-ingredient {
  display: none;
}
.tri .appareils {
  background-color: #68D9A4;
}
.tri .appareils .search-appareil {
  display: none;
}
.tri .ustensiles {
  background-color: #ED6454;
}
.tri .ustensiles .search-ustensile {
  display: none;
}
.tri .search-open {
  width: 667px;
  height: 397px;
  margin-bottom: -397px;
  z-index: 1;
}
.tri .search-open .rotate {
  transform: rotate(180deg);
}
.tri .search-open p {
  display: none;
}
.tri .search-open .search-ingredient {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #3282F7;
}
.tri .search-open .search-appareil {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #68D9A4;
}
.tri .search-open .search-ustensile {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #ED6454;
}
.tri .search-open .search-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  margin-top: 50px;
  margin-left: 16px;
  cursor: default;
}
.tri .search-open .search-list span {
  margin: 4px;
  cursor: pointer;
}
.tri .search-open .search-list h3 {
  margin: 4px;
  cursor: pointer;
}

.recettes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.recettes article {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 58px;
  margin-bottom: 30px;
}
.recettes article .imageRecette {
  height: 178px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.footerRecette {
  position: relative;
  height: 186px;
  background-color: #E7E7E7;
  border-radius: 0 0 5px 5px;
  margin: 0;
}
.footerRecette .nomRecette {
  position: absolute;
  width: 200px;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
}
.footerRecette .tempsRecette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: 0;
  top: 20px;
  right: 25px;
}
.footerRecette .tempsRecette .fa-clock {
  position: absolute;
  font-size: 20px;
}
.footerRecette .tempsRecette .minutes {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-left: 30px;
}
.footerRecette .listeIngredients {
  position: absolute;
  width: 150px;
  top: 65px;
  left: 20px;
}
.footerRecette .listeIngredients .ingredientRecette {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footerRecette .listeIngredients .ingredientRecette span {
  font-weight: 700;
}
.footerRecette .description {
  position: absolute;
  right: 20px;
  top: 55px;
  width: 140px;
  height: 109px;
  font-size: 12px;
  line-height: var(--line-h);
  max-height: calc(var(--line-h) * var(--nth-lines-trunc));
  overflow: hidden;
  padding-right: 16px;
  text-align: justify;
}
.footerRecette .description::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
