.recherche {
    display: flex;
    position: relative;
    align-items: center;
    .fa-search {
        position: absolute;
        right: 20px;
        font-size: 32px;
    }
    .search {
        width: 100%;
        height: 69px;
        padding-left: 20px;
        font-size: 18px;
        background-color: $color-primary;
        border-radius: 5px;
        outline: none;
        border: none;
        &::placeholder {
            color: grey;
        }
    }
}

.tags {
    display: flex;
    button {
        @include button;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 37px;
        width: auto;
        p {
            font-size: 14px;
            font-weight: 700;
            margin-left: 10px;
        }
        em {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    #tagBlue{
        background-color: #3282F7;
    }
    #tagGreen{
        background-color: #68D9A4;
    }
    #tagRed{
        background-color: #ED6454;
    }
}

.tri {
    display: flex;
    button {
        @include button;
    }
    .ingredients {
        background-color: $color-blue;
        .search-ingredient {
            display: none;
        }
    }
    .appareils {
        background-color: $color-green;
        .search-appareil {
            display: none;
        }
    }
    .ustensiles {
        background-color: $color-red;
        .search-ustensile {
            display: none;
        }
    }
    .search-open {
        width: 667px;
        height: 397px;
        margin-bottom: -397px;
        z-index: 1;
        .rotate {
            transform: rotate(180deg);
        }
        p {
            display: none;
        }
        .search-ingredient {
            @include input;
            background-color: $color-blue;
        }
        .search-appareil {
            @include input;
            background-color: $color-green;
        }
        .search-ustensile {
            @include input;
            background-color: $color-red;
        }
    }
}

.searchListIngredient {
    @include searchList;
}

.searchListAppareil {
    @include searchList;
}

.searchListUstensile {
    @include searchList;
}

.displayList{
    display: grid;
}

.tagBlue{
    color: blue;
}

.tagGreen{
    color: green;
}

.tagRed{
    color: red;
}


.recettes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    article {
        width: 380px;
        height: 364px;
        border-radius: 5px;
        margin-top: 20px;
        margin-right: 58px;
        margin-bottom: 30px;
        .imageRecette {
            height: 178px;
            background-color: $color-secondary;
            border-radius: 5px 5px 0 0;
            margin: 0;
        }
    }
}

.footerRecette {
    position: relative;
    height: 186px;
    background-color: $color-primary;
    border-radius: 0 0 5px 5px;
    margin: 0;
    .nomRecette {
        position: absolute;
        width: 200px;
        font-size: 18px;
        font-weight: 400;
        left: 20px;
    }
    .tempsRecette {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        margin: 0;
        top: 20px;
        right: 25px;
        .fa-clock {
            position: absolute;
            font-size: 20px;
        } 
        .minutes {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            margin-left: 30px;
        }
    }
    .listeIngredients {
        position: absolute;
        width: 150px;
        top: 65px;
        left: 20px;
        .ingredientRecette {
            margin: 0;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span {
                font-weight: 700;
            }
        }
    }
    .description {
        position: absolute;
        right: 20px;
        top: 55px;
        width: 140px;
        height: 109px;
        font-size: 12px;
        line-height: var(--line-h);
        max-height: calc(var(--line-h) * var(--nth-lines-trunc));
        overflow: hidden;
        padding-right: 16px;
        text-align: justify;
        &::after {
            content: "...";
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
}